// This stylesheet will be deprecated when editor-web and admin-web is deprecated
.multiselect {
  max-width: 48rem; /* Use same width as input-width-xl form style guide*/

  &__content-wrapper > ul li:before {
    content: '';
  }

  &__option {
    margin-left: 16px;
  }

  &__option--disabled {
    background: $color-white !important;
    color: $font-color !important;
    font-weight: bold;
    margin-left: 0px;
  }

  &__tag {
    background-color: $color-blue;
    color: $color-white;
  }

  &__tag-icon::after {
    color: $color-white;
  }

  &__tags {
    border: 1px solid $menu-color;
  }

  &__option--highlight {
    background-color: $background-alternative;
    color: $color-blue;
    font-weight: bold;
  }

  &__option--highlight::after {
    background-color: $background-alternative;
    color: $color-blue;
  }

  &__element {
    padding-left: 16px;
  }
}

/* Fixes issue in IE where you cannot open the multiselector */
/* ie11 fix start */
.multiselect__placeholder {
  width: 100%;
}

body .multiselect__select {
  text-align: right;
  width: 100%;
  height: 100%;
  transition: none;
}

/* we use scale(1, -1) to flip the caret vertically since rotate no longer works,
 because of width and height 100% */
body .multiselect--active .multiselect__select {
  transform: scale(1, -1);
}
/* ie11 fix end */

/* reset to initial values for modern browsers since ie11 doesn't know @supports */
@supports (height: unset) {
  body .multiselect__select {
    text-align: right;
    width: 40px;
    height: 38px;
    transition: 0.2s ease, -webkit-transform 0.2s ease;
  }
}
