table {
  margin-top: 32px;
  width: 100%;
  border-spacing: 2px;
  border-collapse: separate;
  table-layout: fixed;
  border: none !important; // override DKFDS styling

  th {
    font-weight: normal;
    line-height: 1.5;
    background-color: $primary-medium !important; // override DKFDS styling
    color: $color-white;
    text-align: center;
    padding: 8px;
    border: none;
  }

  td {
    line-height: 1.5;
    padding: 8px;
    background-color: $background-alternative !important; // override DKFDS styling
    color: $font-color;
    text-align: left;
    vertical-align: top;
    word-break: break-word;
    word-wrap: break-word;
    border: none !important; // override DKFDS styling
  }
}
@-moz-document url-prefix() {
  td {
    white-space: pre-wrap;
    word-break: unset;
  }
}

@media only screen and (max-width: 768px) {
  .table {
    display: inline-table !important; // override DKFDS styling
  }

  .table.table--responsive-headers thead {
    display: table-header-group;
  }
}
