// Button primary colors (blue)
$button-primary-color: #fff;
$button-primary-bg: $color-blue;
$button-primary-border-color: $color-blue;

$button-primary-hover-color: #fff;
$button-primary-hover-bg: $color-blue-dark;
$button-primary-hover-border-color: $color-blue-dark;

$button-primary-focus-color: $button-primary-color;
$button-primary-focus-bg: $button-primary-bg;
$button-primary-focus-border-color: $button-primary-border-color;

$button-primary-active-color: #fff;
$button-primary-active-bg: $primary-medium;
$button-primary-active-border-color: $primary-medium;

$button-primary-disabled-color: $font-color;
$button-primary-disabled-bg: #fff;
$button-primary-disabled-border-color: #747474;

// Button white colors (white)
$button-white-color: $color-blue;
$button-white-bg: #fff;
$button-white-border-color: #fff;

$button-white-hover-color: $color-blue-dark;
$button-white-hover-bg: #fff;
$button-white-hover-border-color: #fff;

$button-white-focus-color: $color-blue-dark;
$button-white-focus-bg: #fff;
$button-white-focus-border-color: #fff;

$button-white-active-color: $primary-medium;
$button-white-active-bg: #fff;
$button-white-active-border-color: #fff;

$button-white-disabled-color: #fff;
$button-white-disabled-bg: #747474;
$button-white-disabled-border-color: #747474;

// Button secondary colors (dark grey)
$button-secondary-color: #fff;
$button-secondary-bg: $primary-medium;
$button-secondary-border-color: $primary-medium;

$button-secondary-hover-color: #fff;
$button-secondary-hover-bg: $color-blue-dark;
$button-secondary-hover-border-color: $color-blue-dark;

$button-secondary-focus-color: $button-secondary-color;
$button-secondary-focus-bg: $button-secondary-bg;
$button-secondary-focus-border-color: $button-secondary-border-color;

$button-secondary-active-color: $button-secondary-color;
$button-secondary-active-bg: $button-secondary-bg;
$button-secondary-active-border-color: $button-secondary-border-color;

$button-secondary-disabled-color: $font-color;
$button-secondary-disabled-bg: #fff;
$button-secondary-disabled-border-color: #747474;

// Button tertiary colors (transparent with dark grey text)
$button-tertiary-color: $font-color;
$button-tertiary-bg: transparent;
$button-tertiary-border-color: #747474;

$button-tertiary-hover-color: $button-tertiary-color;
$button-tertiary-hover-bg: $button-tertiary-bg;
$button-tertiary-hover-border-color: #454545;

$button-tertiary-focus-color: $button-tertiary-color;
$button-tertiary-focus-bg: $button-tertiary-bg;
$button-tertiary-focus-border-color: $button-tertiary-border-color;

$button-tertiary-active-color: $button-tertiary-color;
$button-tertiary-active-bg: $button-tertiary-bg;
$button-tertiary-active-border-color: #1a1a1a;

// Button quaternary colors (transparent with blue text)
$button-quaternary-color: $color-blue;
$button-quaternary-bg: transparent;
$button-quaternary-border-color: transparent;

$button-quaternary-hover-color: #fff;
$button-quaternary-hover-bg: $primary-medium;
$button-quaternary-hover-border-color: $primary-medium;

$button-quaternary-focus-color: $button-quaternary-hover-color;
$button-quaternary-focus-bg: $button-quaternary-hover-bg;
$button-quaternary-focus-border-color: $button-quaternary-hover-border-color;

$button-quaternary-active-color: $button-quaternary-hover-color;
$button-quaternary-active-bg: $button-quaternary-hover-bg;
$button-quaternary-active-border-color: $button-quaternary-hover-border-color;

$button-quaternary-disabled-color: $font-color;
$button-quaternary-disabled-bg: #fff;
$button-quaternary-disabled-border-color: #747474;

// Button purple
$button-purple-color: #fff;
$button-purple-bg: $color-purple;
$button-purple-border-color: $color-purple;

$button-purple-hover-color: #fff;
$button-purple-hover-bg: $color-darkPurple;
$button-purple-hover-border-color: $color-darkPurple;

.button {
  height: auto;
  //############ Primary ###############
  &.button-primary {
    font-weight: bold;
    color: $button-primary-color;
    background-color: $button-primary-bg;
    border-color: $button-primary-border-color;

    &:hover,
    &.button-hover {
      color: $button-primary-hover-color;
      background-color: $button-primary-hover-bg;
      border-color: $button-primary-hover-border-color;
    }

    &:active,
    &.button-active {
      color: $button-primary-active-color;
      background-color: $button-primary-active-bg;
      border-color: $button-primary-active-border-color;
    }

    &.focus,
    &:focus {
      color: $button-primary-active-color;
      background-color: $button-primary-focus-bg;
      border-color: $button-primary-focus-border-color;
    }

    &:disabled,
    &.disabled {
      //color: $button-primary-disabled-color !important;
      //background-color: $button-primary-disabled-bg !important;
      //border-color: $button-primary-disabled-border-color !important;
      color: $button-white-disabled-color !important;
      opacity: 0.3;
      box-shadow: none !important;

      &:hover {
        color: $button-primary-hover-color;
        background-color: $button-primary-hover-bg;
        border-color: $button-primary-hover-border-color;
        opacity: 0.3 !important;
        box-shadow: none !important;
      }
    }
  }

  &.button-white {
    font-weight: bold;
    color: $button-white-color;
    background-color: $button-white-bg;
    border-color: $button-white-border-color;

    &:hover,
    &.button-hover {
      color: $button-white-hover-color;
      background-color: $button-white-hover-bg;
      border-color: $button-white-hover-border-color;
    }

    &:active,
    &.button-active {
      color: $button-white-active-color;
      background-color: $button-white-active-bg;
      border-color: $button-white-active-border-color;
    }

    &.focus,
    &:focus {
      color: $button-white-active-color;
      background-color: $button-white-focus-bg;
      border-color: $button-white-focus-border-color;
    }

    &:disabled,
    &.disabled {
      //color: $button-white-disabled-color !important;
      //background-color: $button-white-disabled-bg !important;
      //border-color: $button-white-disabled-border-color !important;
      //color: $button-white-disabled-color !important;
      color: $button-white-color !important;
      opacity: 0.3;
      box-shadow: none !important;

      &:hover {
        color: $button-white-hover-color !important;
        background-color: $button-white-hover-bg !important;
        border-color: $button-white-hover-border-color !important;
        opacity: 0.3 !important;
        box-shadow: none !important;
      }
    }
  }

  //############ Secondary ###############
  &.button-secondary {
    font-weight: bold;
    color: $button-secondary-color;
    background-color: $button-secondary-bg;
    border-color: $button-secondary-border-color;

    &:hover,
    &.button-hover {
      color: $button-secondary-hover-color;
      background-color: $button-secondary-hover-bg;
      border-color: $button-secondary-hover-border-color;
    }

    &:active,
    &.button-active {
      color: $button-secondary-active-color;
      background-color: $button-secondary-active-bg;
      border-color: $button-secondary-active-border-color;
    }

    &.focus,
    &:focus {
      color: $button-secondary-active-color;
      background-color: $button-secondary-focus-bg;
      border-color: $button-secondary-focus-border-color;
    }

    &:disabled,
    &.disabled {
      //color: $button-secondary-disabled-color !important;
      //background-color: $button-secondary-disabled-bg !important;
      //border-color: $button-secondary-disabled-border-color !important;
      color: $button-secondary-color !important;
      opacity: 0.3;
      box-shadow: none !important;

      &:hover {
        color: $button-secondary-disabled-color !important;
        background-color: $button-secondary-disabled-bg !important;
        border-color: $button-secondary-disabled-border-color !important;
        opacity: 0.3 !important;
        box-shadow: none !important;
      }
    }
  }

  //############ Tertiary (NOT USED) ###############

  //############ Quaternary ###############
  &.button-quaternary {
    font-weight: bold;
    padding-left: 15px;
    color: $button-quaternary-color;
    background-color: $button-quaternary-bg;
    border-color: $button-quaternary-border-color;

    &:hover,
    &.button-hover {
      color: $button-quaternary-hover-color;
      background-color: $button-quaternary-hover-bg;
      border-color: $button-quaternary-hover-border-color;
    }

    &:active,
    &.button-active {
      color: $button-quaternary-active-color;
      background-color: $button-quaternary-active-bg;
      border-color: $button-quaternary-active-border-color;
    }

    &.focus,
    &:focus {
      color: $button-quaternary-active-color;
      background-color: $button-quaternary-focus-bg;
      border-color: $button-quaternary-focus-border-color;
    }

    &:disabled,
    &.disabled {
      //color: $button-quaternary-disabled-color !important;
      //background-color: $button-quaternary-disabled-bg !important;
      //border-color: $button-quaternary-disabled-border-color !important;
      color: $button-quaternary-color !important;
      opacity: 0.3;
      box-shadow: none !important;

      &:hover {
        color: $button-quaternary-hover-color !important;
        background-color: $button-quaternary-hover-bg !important;
        border-color: $button-quaternary-hover-border-color !important;
        opacity: 0.3 !important;
        box-shadow: none !important;
      }
    }
  }

  &:focus {
    outline-width: 2px;
  }

  &.button-purple {
    color: $button-purple-color;
    background-color: $color-purple;
    border-color: $button-purple-border-color;

    &:hover,
    &.button-hover {
      color: $button-purple-hover-color;
      background-color: $button-purple-hover-bg;
      border-color: $button-purple-hover-border-color;
    }
  }
}

.button .button-icon {
  margin-right: 0;
  margin-left: 8px;
}

.button-close {
  background-color: $primary-medium;
  width: 48px;
  height: 48px;
  border-radius: 0;
  position: relative;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 2px);
    height: 20px;
    width: 2px;
    background-color: #fff;
    display: block;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:before {
    transform: rotate(-45deg);
  }
}

.button-transparent {
  border-color: $color-white;
  background-color: transparent;
  color: $color-white;

  &:hover,
  &.button-hover {
    border-color: $color-redaktion-darkbg-hover;
    color: $color-redaktion-darkbg-hover;
  }

  &:active,
  &.button-active {
    border-color: $color-redaktion-darkbg-active;
    color: $color-redaktion-darkbg-active;
  }

  &:disabled,
  &.disabled {
    border-color: $color-redaktion-darkbg-disabled;
    color: $color-redaktion-darkbg-disabled;
  }
}

.button-link {
  background-color: transparent;
  color: $font-color;
  box-shadow: none;
  border: 0;
  text-decoration: underline;
  padding: 0;
  text-align: left;
}

.button-filled {
  color: white;
  background-color: $color-blue;
  border-color: $color-blue;

  &:hover,
  &.button-hover {
    background-color: $color-redaktion-button-filled-hover;
    border-color: $color-redaktion-button-filled-hover;
  }

  &:active,
  &.button-active {
    background-color: $color-redaktion-button-filled-active;
    border-color: $color-redaktion-button-filled-active;
  }

  &:disabled,
  &.disabled {
    background-color: $color-redaktion-button-filled-disabled;
    border-color: $color-redaktion-button-filled-disabled;
  }
}

.button-filled-warning {
  color: white;
  background-color: $color-redaktion-warning-red;
  border-color: $color-redaktion-warning-red;

  &:hover,
  &.button-hover {
    background-color: $color-redaktion-button-filled-warning-hover;
    border-color: $color-redaktion-button-filled-warning-hover;
  }

  &:active,
  &.button-active {
    background-color: $color-redaktion-button-filled-warning-active;
    border-color: $color-redaktion-button-filled-warning-active;
  }

  &:disabled,
  &.disabled {
    background-color: $color-redaktion-button-filled-warning-disabled;
    border-color: $color-redaktion-button-filled-warning-disabled;
  }
}

.button-open-menu {
  font-weight: bold;
  color: #000;
  background-color: $button-white-bg;
  border-color: #000;

  &:hover,
  &.button-hover {
    border-color: $color-blue;
  }

  &:active,
  &.button-active {
    color: $button-white-active-color;
    background-color: $button-white-active-bg;
    border-color: $button-white-active-border-color;
  }

  &.focus,
  &:focus {
    color: #000;
    background-color: $button-white-focus-bg;
    border-color: $button-white-focus-border-color;
  }

  &:disabled,
  &.disabled {
    color: $button-white-color !important;
    opacity: 0.3;
    box-shadow: none !important;

    &:hover {
      color: $button-white-hover-color !important;
      background-color: $button-white-hover-bg !important;
      border-color: $button-white-hover-border-color !important;
      opacity: 0.3 !important;
      box-shadow: none !important;
    }
  }
}

.temacards a {
  width: 100%;
}

.radio-buttons-buttons {
  input[type='radio'] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  label {
    display: inline-block;
    width: auto;
    background-color: $background-normal;
    color: $font-color;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid $primary-medium;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-right: 16px;
  }

  label:hover {
    color: $color-white;
    background-color: $primary-medium;
  }

  input[type='radio']:checked + label {
    color: $color-white;
    background-color: $primary-medium;
  }

  input[type='radio']:focus + label {
    outline: 4px solid #747474;
    outline-offset: 1px;
  }
}

.redaktion {
  button.lightbg {
    color: $color-black;

    &:hover {
      color: $color-redaktion-lightbg-hover;
    }

    &:active {
      color: $color-redaktion-lightbg-active;
    }

    &:disabled {
      color: $color-redaktion-lightbg-disabled;
    }
  }

  button.darkbg {
    color: white;

    &:hover {
      color: $color-redaktion-darkbg-hover;
    }

    &:active {
      color: $color-redaktion-darkbg-active;
    }

    &:disabled {
      color: $color-redaktion-darkbg-disabled;
    }
  }

  .white-button {
    background-color: $color-white;
    color: $font-color;
    border: 2px solid $menu-color;

    &:hover {
      color: $color-redaktion-lightbg-hover;
      border-color: $color-redaktion-lightbg-hover;
    }

    &:active {
      color: $color-redaktion-button-filled-active;
      border-color: $color-redaktion-button-filled-active;
    }

    &:disabled {
      color: $color-redaktion-button-white-disabled;
      border-color: $color-redaktion-button-white-disabled;
    }
  }
}
