$color-blue: #0052ff;
$color-blue-dark: #002691;

$primary-color: #1f4665;
$primary-medium: #334452;
$primary-dark: #141f28;
$primary-light: #6dcfff;
$secondary-blue: $color-blue-dark;

$font-color: #1a1a1a;
$font-color-menu-hover: #002691;

$color-link: $color-blue;
$color-cookie: #454545;

$background-normal: #f5f5f5;
$background-alternative: #e5eaee;
$background-alternative-hover: #cdd6dd;
$background-alternative-active: #b5c1cb;

$color-darkblue: #00315c;
$color-cyan: #008098;
$color-white: #ffffff;
$color-light-grey: #bdbdbd;
$color-black: #000000;
$color-red: #ff5656;
$color-bluegreen: #015255;
$color-articleBlue: #141f28;
$color-purple: #b500b5;
$color-darkPurple: #800080;
$color-dark-steel: #758a9f;

$border-color-grey: #c3c3c3;
$border-color-emnelandingpage: #dfe0e4;
$menu-color: #747474;
$picturetext-border-grey: #d7dadf;

$multiselector-disabled-text: #1d1d1d;
$multiselector-disabled-background: #ededed;

// Redaktion colors
$color-redaktion-grey: #33415c;
$color-redaktion-menu-blue: #000f2f;
$color-redaktion-menu-item: #002674;
$color-redaktion-border: #aab7c4;
$color-redaktion-sidebar-bg: #f5f7f9;
$color-redaktion-shadow: rgba(0, 0, 0, 0.25);
$color-redaktion-light-grey: #828282;
$color-redaktion-lightest-blue: #e7efff;
$color-redaktion-light-blue: #8bb0ff;
$color-redaktion-warning-red: #cc0000;
$color-redaktion-picture-grey: #f3f3f3;
$color-redaktion-themecolor-green: #03a869;
$color-redaktion-themecolor-brown: #691c27;
$color-redaktion-topbar-bg: #edf2f5;

$color-redaktion-lightbg-hover: #0052ff;
$color-redaktion-lightbg-disabled: #aab7c4;
$color-redaktion-lightbg-active: #002674;

$color-redaktion-darkbg-hover: $color-redaktion-light-blue;
$color-redaktion-darkbg-disabled: #758a9f;
$color-redaktion-darkbg-active: #ffffff;

$color-redaktion-button-filled-hover: #0035a3;
$color-redaktion-button-filled-active: #002674;
$color-redaktion-button-filled-disabled: $color-redaktion-light-blue;

$color-redaktion-button-filled-warning-hover: #aa0000;
$color-redaktion-button-filled-warning-active: #7d0000;
$color-redaktion-button-filled-warning-disabled: #da8d8d;

$color-redaktion-button-white-disabled: #bfbfbf;

//Other variables.
$size-xxs: 0.4rem;
$size-xs: 0.8rem;
$size-sd: 1.6rem;
$size-md: 2.4rem;
$size-lg: 3.2rem;
$size-xlg: 4rem;
$size-xxlg: 4.8rem;
$size-xxxlg: 5.6rem;

@function set-focus-color($color) {
  @if (lightness($color) > 50) {
    @return $menu-color; // Lighter background, return dark color
  } @else {
    @return $color-white; // Darker background, return light color
  }
}
