.globalFooter {
  background-color: $primary-dark;
  padding: 56px 16px;
  -ms-flex: 0 0 auto;

  @include media-breakpoint-up(md) {
    padding: 56px 88px;
  }

  .footer-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      color: $color-white;
      text-align: center;
      max-width: 100%;
    }

    .byline {
      color: $primary-light;
      margin: 0;
      text-align: center;
      max-width: 100%;
      line-height: 24px;
      margin-bottom: 24px;
    }

    .quotes {
      color: $color-white;
      text-align: center;
      max-width: 100%;
      font-size: 27px;
      line-height: 32px;
      font-weight: 600;
    }

    .logo {
      background-image: url('./../assets/logo-footer.svg');
      height: 4rem;
      width: 100%;
      background-position: center;
      align-self: center;
      background-repeat: no-repeat;
      margin-bottom: 16px;
    }

    .logo:focus {
      outline: 2px solid set-focus-color($primary-dark);
    }
  }

  .links-container {
    padding-top: 56px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .footer-link__row {
      margin-left: 0;
      margin-right: 0;
    }

    p {
      color: $color-white;
      font-size: 16px;
    }

    .col-title {
      color: $color-white;
      font-size: 16px;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 8px;
    }

    .contact {
      color: $color-white;
      text-decoration: underline;
      font-size: 16px;
      margin: 0;
    }

    a {
      color: $color-white;
      font-size: 16px;
      display: block;
      margin-bottom: 8px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    margin-bottom: 40px;
    text-align: center;
  }
}
