.header {
  margin: 0 !important;

  @include media-breakpoint-down(sm) {
    position: sticky;
    top: 0;
  }

  .portal-header {
    background-color: #fff;
    border-bottom: solid 2px #e5eaee;
    .logo {
      background-image: url('./../assets/logo-header.svg');
      height: 2.4rem;
      width: 200px;
      background-position: center;
      align-self: center;
      background-repeat: no-repeat;
      margin-top: auto;
      margin-bottom: auto;
    }

    .logo:focus {
      outline: 4px solid set-focus-color($color-white);
    }

    .content-header-inner {
      @include media-breakpoint-up(lg) {
        padding: 0 16px;
      }
    }

    .portal-info {
      .search {
        display: flex;

        .search-logo {
          margin-right: 8px;
        }
      }
      .nav-primary {
        .current {
          border-bottom: $color-blue solid 2px;
          span {
            border: none;
          }
        }

        li {
          margin-right: 16px;
          border-bottom: 2px solid transparent;
          padding-top: 16px;
          padding-bottom: 16px;

          a:focus {
            outline: 4px solid set-focus-color($color-white);
          }
        }

        li:hover {
          border-bottom: $color-blue solid 2px;
        }

        li:last-child {
          margin-right: 0;
        }

        .nav-link {
          span {
            padding-bottom: 0;
          }
          a:hover {
            border-bottom: none;
          }
        }

        .nav-link:hover {
          span {
            border: none;
          }
        }
      }
    }
  }
  .portal-info-mobile {
    border-bottom: 0;
    .search {
      display: flex;

      .search-logo {
        margin-right: 8px;
      }
    }

    li:first-child {
      border-top: 1px solid #bfbfbf;
    }

    li {
      a {
        display: flex;
      }
    }
  }
  .button-mobilmenu {
    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
      height: 32px;

      span {
        line-height: 24px;
        margin-top: 1px;
      }

      img {
        margin: 0 8px 0 0;
      }
    }
  }
}
