.accordion-wrapper {
  & > :last-child {
    margin-bottom: 32px;
  }

  .accordion {
    li {
      border: solid 1px $color-redaktion-border;
      border-radius: 4px;

      .accordion-button {
        background-color: $background-alternative;
        background-size: 32px 32px;
        background-position: 24px 20px;
        padding-left: 72px;
        padding-top: 24px;
        min-height: 72px;
        text-decoration: none;
      }

      .accordion-button[aria-expanded='false'] {
        border-radius: 4px;

        .h5 {
          font-weight: bold;
        }
      }

      .accordion-button[aria-expanded='false']:hover {
        .h5 {
          color: $color-redaktion-lightbg-active;
          font-weight: bold;
        }
      }

      .accordion-button[aria-expanded='true'] {
        border-radius: 4px 4px 0px 0px;

        .h5 {
          font-weight: bold;
        }
      }

      .accordion-button[aria-expanded='true']:hover {
        .h5 {
          color: $color-redaktion-lightbg-active;
          font-weight: bold;
        }
      }

      .accordion-content {
        background-color: $background-alternative;
        padding-left: 72px;
        padding-right: 24px;
        padding-bottom: 16px;
        padding-top: 8px;
        border-radius: 0px 0px 4px 4px;
        max-width: none !important; // added to override max-width in FDS on 66ch

        .accordion-body {
          li {
            border: none;
          }

          ol {
            padding-left: 16px;

            li {
              position: initial;
              padding-left: 0px;
            }

            li::before {
              content: none;
            }
          }
        }

        .accordion-body > :first-child {
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }

      a {
        max-width: none; // added to override max-width in FDS on 66ch
      }
    }
  }
}
