.cardgruppe {
  .cardgruppe-card {
    text-decoration: none;
    display: flex;
    box-shadow: none;
    transition: box-shadow 100ms ease-in-out;
    border: 1px solid $picturetext-border-grey;

    .text-border {
      flex: 1;
      background-color: white;
      .text {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 24px;
      }
      .text-with-picture {
        margin-right: 16px;
      }
      .text-no-picture {
        margin-right: 24px;
      }
    }

    .card-picture {
      width: 168px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    h2,
    h3 {
      color: $font-color;
      transition: 100ms ease-in-out;
      @include media-breakpoint-down(sm) {
        line-height: 2.8rem;
      }
    }
  }
  .cardgruppe-card:hover {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;

    .card-titel {
      color: $color-redaktion-menu-item;
    }

    h2,
    h3 {
      color: $color-redaktion-menu-item;
    }
  }
}
