blockquote {
  margin-left: 0;
  position: relative;
  p {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 64px;
  }
}

blockquote::before {
  position: absolute;
  content: '”';
  font-size: 90px;
  font-weight: 600;
  color: $color-blue-dark;
}

ol {
  li {
    list-style-type: decimal;
    ol li {
      list-style: lower-alpha;
      ol li {
        list-style: lower-roman;
      }
    }
  }
}

a.button {
  color: $color-white;
}
a.button:visited {
  color: $color-white;
}

.dokument__link {
  text-decoration: underline;
  cursor: pointer;
}

.table--responsive-headers {
  border-color: $color-redaktion-light-blue;
  border-bottom: none;
  thead {
    background-color: $color-redaktion-lightest-blue;
    font-weight: bold;
  }

  tr {
    border-bottom: 1px solid $color-redaktion-light-blue !important; // needed to override fds
  }
}

.table td,
.table th {
  border-right: 1px solid $color-redaktion-light-blue;
  border-bottom: 1px solid $color-redaktion-light-blue;
}

.table--borderless {
  thead {
    font-weight: bold;
    background-color: transparent;
  }
  tr {
    border: none !important; // needed to override fds
  }

  td, th {
    padding: 16px !important; // needed to override fds
    border: none !important; // needed to override fds
  }
}
