.emnetags {
  margin-top: 8px;
  margin-right: 8px;
  float: left;
  &__tag {
    padding: 0 8px;
    border: none;
    background-color: $background-alternative;
    color: $color-black;
    font-weight: normal;
    width: inherit;
    border-radius: 4px;
    height: 24px;
  }

  &__tag:hover {
    background-color: $background-alternative-hover;
    text-decoration: underline;
  }

  &__tag:active {
    background-color: $background-alternative-active;
    text-decoration: underline;
  }
}
