.emnemenu {
  padding-top: 48px;
  padding-bottom: 24px;

  h2 {
    margin: 0;
  }

  .emnemenu__desktop {
    max-width: 1200px;
    display: none;
    column-count: 2;

    @include media-breakpoint-up(md) {
      margin-top: 32px; // skal fjernes når søgefelt tilføjes
      display: block;
      column-gap: 8.3%; // svarende til 1 col
      left: 0;

      .emnemenu__desktop__item {
        display: inline-block;
        min-width: 268px;
        margin-bottom: 24px;
      }

      .emnemenu__desktop__header {
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        margin-bottom: 24px;
        margin-top: 0px;
      }

      .emnemenu__desktop__link {
        margin-right: 16px;
        line-height: 2;
        display: inline-block;
        overflow: auto;
        font-size: 14px;
      }
    }
    @include media-breakpoint-up(lg) {
      column-count: 3;
      left: -10vw;
    }
  }

  .emnemenu__mobil {
    display: block;
    margin-right: 16px;

    @include media-breakpoint-up(md) {
      display: none;
    }

    .accordion-body li {
      padding-left: 0px;

      a {
        text-decoration: none;
      }
    }

    .accordion-body li::before {
      display: none;
    }

    .emnemenu__mobil__link::after {
      content: '\A';
      white-space: pre-line;
      padding-bottom: 16px;
    }
  }
}
