.faktaboks {
  border: solid 1px $color-redaktion-light-blue;
  background-color: $color-redaktion-lightest-blue;
  padding: 33px 39px 47px 41px;
}

.faktaboks > .editor-tekst > :first-child {
  margin-top: 0;
}

.faktaboks > .editor-tekst > :last-child {
  margin-bottom: 0;
}
