.hero {
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;

  @include media-breakpoint-down(sm) {
    margin-bottom: 32px;
  }
  @include media-breakpoint-down(xs) {
    margin-bottom: 24px;
  }
  .container {
    align-self: flex-end;
    margin-bottom: -40px;

    @include media-breakpoint-down(sm) {
      margin-bottom: -32px;
    }
    @include media-breakpoint-down(xs) {
      margin-bottom: -24px;
    }
    .hero-boks {
      border: 1px solid $picturetext-border-grey;
      background-color: white;
      padding: 40px;

      h6 {
        margin-top: 0px;
      }

      &-beskrivelse {
        white-space: pre-wrap;
      }

      @include media-breakpoint-down(sm) {
        padding: 32px;
      }
      @include media-breakpoint-down(xs) {
        padding: 24px;
      }
    }
  }
}

.withoutCard {
  max-height: 384px;
}

.withCard {
  min-height: 304px;
  @include media-breakpoint-down(md) {
    max-height: 500px;
  }
  @include media-breakpoint-down(xs) {
    max-height: 430px;
  }
}
