.liste {
  & > :last-child {
    margin-bottom: 40px;
  }

  &__beskrivelse {
    white-space: pre-wrap;
  }

  &__element {
    counter-increment: section;

    .nummereret {
      &:before {
        content: counter(section);
        position: absolute;
        border-radius: 50%;
        height: 56px;
        width: 56px;
        background-color: $color-redaktion-menu-item;
        text-align: center;
        color: $color-white;
        font-size: 24px;
        font-weight: bold;
        line-height: 2.333;
      }

      .liste__content {
        margin-left: 96px;
      }
    }

    .unummereret {
      &:before {
        content: '';
        position: absolute;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        background-color: $color-redaktion-menu-item;
      }

      .liste__content {
        margin-left: 64px;
      }
    }

    .liste__content {
      &-overskrift {
        margin-top: 24px;
        margin-bottom: 8px;

        &-first {
          margin-top: 40px;
        }
      }

      &-indhold > :first-child {
        margin-top: 8px;
      }
    }
  }
  &__elementnumber {
    min-height: 56px;
  }

  &__elementwithoutnumber {
    min-height: 24px;
  }
}
