.teaserliste {
  .teaserliste-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    >>> #bigSearchField {
      border-right: none;
      :hover {
        border-right: none;
      }
    }

    >>> .button-search {
      background-color: $color-blue !important;
      height: 64px;
      width: 64px;
      border: none;
    }

    >>> .button-search:hover {
      border: none;
      background-color: $color-redaktion-button-filled-hover !important;
    }

    >>> .search:hover {
      .button-search {
        border: none;
      }
    }

    >>> .liste {
      .cardliste-list_card {
        border-top: 1px solid $background-alternative;
      }
      hr {
        margin-left: 0px !important;
      }

      .text {
        margin-left: 0px !important;
      }

      .teaser-text {
        padding-top: 8px;
        margin-right: 0px;
      }
    }

    .info-container {
      @include media-breakpoint-down(sm) {
        flex: 1 0 auto;
      }
    }

    .liste-container {
      @include media-breakpoint-down(sm) {
        flex: 1 0 auto;
      }

      .liste-titel {
        @include media-breakpoint-up(md) {
          margin-top: 0px;
        }
      }

      .liste {
        @include media-breakpoint-down(sm) {
          column-count: 2;
        }
        @include media-breakpoint-down(xs) {
          column-count: 1;
        }
      }
    }

    .big-icon-link {
      min-height: 56px;
      min-width: 105px;
      line-height: 3.9rem;
      color: $color-white;
      font-size: 20px;
    }

    .button {
      width: auto;
    }
  }
}

.teaserliste.white-element-background {
  padding-top: 56px;
  padding-bottom: 64px;
}