.udvidetCardgruppe {
  .cardrow {
    max-width: 1200px;
  }

  &__titel {
    margin-top: 0px;
  }

  &-card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    transition: box-shadow 100ms ease-in-out;
    border: 1px solid $picturetext-border-grey;

    .text-border {
      flex: 1 0 auto;
      background-color: white;
      .text {
        margin: 24px;

        .font2Cards {
          font-size: 24px;
          font-weight: 600;
          @include media-breakpoint-down(md) {
            font-size: 20px;
            font-weight: 600;
            line-height: 2.8rem;
          }
        }

        .font1Cards {
          font-size: 30px;
          font-weight: 600;
          @include media-breakpoint-down(md) {
            font-size: 20px;
            font-weight: 600;
            line-height: 2.8rem;
          }
        }
      }
    }
    .hideTextArea {
      display: none;
    }

    .card-picture {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 66.66%;
      width: 100%;
    }

    h2,
    h3 {
      color: $font-color;
      transition: 100ms ease-in-out;
    }
  }
  .udvidetCardgruppe-card:hover {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    .card-titel {
      color: $color-redaktion-menu-item;
    }

    h2,
    h3 {
      color: $color-redaktion-menu-item;
    }
  }

  .oneCard {
    .udvidetCardgruppe-card {
      flex-direction: row;
      max-width: none;

      @include media-breakpoint-down(xs) {
        flex-direction: column;
      }

      .text-border {
        flex: auto;
      }

      .card-picture {
        padding-top: 0;
        min-height: 379px;
        max-width: 568px;

        @include media-breakpoint-down(lg) {
          max-width: 478px;
        }

        @include media-breakpoint-down(md) {
          max-width: 327.5px;
        }

        @include media-breakpoint-down(xs) {
          min-height: 228px;
        }
      }

      .card-beskrivelse {
        @include media-breakpoint-up(md) {
          font-size: 2rem;
          font-weight: 400;
          line-height: 3.2rem;
        }
      }
    }

    .withoutText {
      width: 50%;

      @include media-breakpoint-down(xs) {
        width: 100%;
      }

      .card-picture {
        padding-top: 66.66%;
      }
    }

    .withPicture {
      .text {
        @include media-breakpoint-up(md) {
          margin: 72px 56px;
        }

        @include media-breakpoint-down(md) {
          margin: 40px 32px;
        }

        @include media-breakpoint-down(sm) {
          margin: 30px 24px;
        }
      }
    }

    .withoutPicture {
      width: 50%;

      .text {
        margin: 32px 40px;
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
  }
}

.row > * {
  margin-bottom: 32px; //add space between cardrows inside a row
}

.row {
  margin-bottom: -32px; // remove space from the last row inside a row
}
