.cards {
  padding: 32px 16px;

  a {
    text-decoration: none;
  }

  .cardRow {
    padding-left: 0;
    @include media-breakpoint-down(xs) {
      padding-right: 0;
      margin-bottom: 16px;
    }
  }

  .cardRow + .cardRow {
    padding-left: 16px;
    padding-right: 0px;
    @include media-breakpoint-down(xs) {
      margin-bottom: 0px;
      padding-left: 0;
    }
  }

  .card {
    border: none;
    flex-direction: column;
    height: 100%;
    display: flex;
    align-items: inherit;

    &__topImage {
      background-color: $primary-color;
      position: relative;
      width: 100%;
      padding-top: 66.66%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .card-text {
      flex-grow: 1;
    }

    .card-footer {
      padding: 0 24px 16px;

      a {
        text-decoration: underline;
      }

      .link:visited {
        color: $color-link;
      }

      .button-primary {
        width: 100%;
      }
    }
  }
}
