.instacard-container {
  background-color: $background-alternative;
  padding: 16px 0;
  @include media-breakpoint-up(md) {
    padding: 56px;
  }

  a {
    text-decoration: none;
  }

  a:not(.button) {
    max-width: none;
  }

  .card {
    border: none;
    align-items: flex-start;
    overflow: visible;

    @include media-breakpoint-up(md) {
      box-shadow: none;
      flex-direction: row-reverse;
    }

    &__img {
      background-size: cover;
      background-repeat: no-repeat;

      @include media-breakpoint-up(md) {
        flex: 1 0 50%;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 66.66%;
      }
    }

    &__content {
      word-break: break-word;
      padding: 20px;

      @include media-breakpoint-down(sm) {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      @include media-breakpoint-up(md) {
        max-width: 50%;
        flex: 1 0 50%;
      }

      @include media-breakpoint-up(lg) {
        padding: 56px;
      }

      h2 {
        margin: 0;
      }

      p {
        margin: 0px;
      }
    }

    .col-6 {
      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }
  }
}

.instacard {
  display: flex;
  flex-grow: 1;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    height: 100%;
    display: flex;

    .card-text {
      flex-grow: 1;
    }
  }
}

.instacard:focus {
  outline: 2px solid set-focus-color(white);
}

.instacardWrapper + .instacardWrapper {
  .instacard {
    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
    }
  }
}
