.kampagnekort {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: -280px;

  a {
    text-decoration: none;
  }

  @include media-breakpoint-down(sm) {
    margin-top: -232px;
  }

  &__kort {
    background-color: $primary-dark;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    @include media-breakpoint-down(sm) {
      margin: 0 16px 16px 16px;
      padding-top: 40px;
      padding-bottom: 24px;
    }

    .kampagnecard {
      flex-direction: column;
      height: 100%;
      display: flex;
      align-items: inherit;

      &:focus {
        outline: 2px solid set-focus-color($primary-dark);
      }
      
      h2 {
        margin-top: 0;
        color: $color-white;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up(lg) {
          padding-left: 88px;
          padding-right: 88px;
        }
      }

      p {
        color: $color-white;
        padding-left: 88px;
        padding-right: 88px;
        flex-grow: 1;
        margin-left: auto;
        margin-right: auto;

        word-break: break-word;
        word-wrap: break-word;

        @include media-breakpoint-down(sm) {
          padding-left: 24px;
          padding-right: 24px;
        }
      }
      .readMore {
        align-self: flex-end;
        margin-left: auto;
        margin-right: auto;
        @include media-breakpoint-up(md) {
          min-width: 195px;
        }
      }

      .button-wrapper {
        @include media-breakpoint-down(sm) {
          margin-left: 24px;
          margin-right: 24px;
        }
      }
    }
  }

  &__kort + &__kort {
    background-color: $primary-color;

    .kampagnecard:focus {
      outline: 2px solid set-focus-color($primary-color);
    }
  }
}

@-moz-document url-prefix() {
  p {
    white-space: pre-wrap;
    word-break: unset;
  }
}

.temakampagnekort {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 520px;
  display: flex;
  align-items: flex-end;

  a {
    text-decoration: none;
  }

  &__temakort {
    background-color: white;
    padding: 56px;
    margin-bottom: 56px;

    @include media-breakpoint-down(sm) {
      padding: 24px;
      margin-bottom: 32px;
    }

    a:not(.readMore) {
      display: flex;
    }

    a:focus {
      outline: 2px solid set-focus-color(white);
      outline-offset: 8px;
    }

    .h2 {
      color: $font-color;
      margin-top: 0;
      font-weight: bold;
      font-size: 36px;
    }

    p {
      color: $font-color;
      margin-bottom: 32px;
      margin-top: 0;
    }

    .readMore {
      align-self: flex-end;
      margin-left: auto;
      margin-right: auto;
      @include media-breakpoint-up(md) {
        min-width: 195px;
      }
    }
  }
}
