.cards {
  padding: 56px 16px 40px 16px;

  a {
    text-decoration: none;
  }

  .cardRow {
    margin-bottom: 32px;
  }

  .card {
    border: none;
    flex-direction: column;
    height: 100%;
    display: flex;
    align-items: inherit;

    &__topImage {
      position: relative;
      width: 100%;
      padding-top: 66.66%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .card-text {
      flex-grow: 1;
    }

    .card-footer {
      padding: 0 24px 16px;

      a:not(.button) {
        text-decoration: underline;
      }

      .link:visited {
        color: $color-link;
      }

      .button-primary {
        width: 100%;
      }
    }
  }
}

.temaforsideCard {
  padding: 56px 0px 40px 0px;
}

.forsiden {
  .card__topImage {
    background-size: 20%;
    background-position: center;
  }

  .cardRow {
    .card-content {
      background-color: $primary-color;
    }
  }

  .cardRow + .cardRow {
    .card-content {
      background-color: $primary-dark;
    }
  }

  .cardRow + .cardRow + .cardRow {
    margin-right: 0;
    .card-content {
      background-color: $secondary-blue;
    }
  }
}
